*-real/
result
config/openloader/data/Mermaid_Origin_2.0.1/data/mermaid_origin/powers/bait_diet.json
config/openloader/data/Mermaid_Origin_2.0.1/data/mermaid_origin/powers/fish_diet.json
config/openloader/data/Mermaid_Origin_2.0.1/data/mermaid_origin/tags/items/bait.json
config/openloader/data/Mermaid_Origin_2.0.1/data/mermaid_origin/tags/items/fish.json
